/node_modules/
/idea/
/.idea/
node_modules
*.log*
.cache
.output
.env
dist
out
/out
app
/app
.idea\sonarlint
/.idea/sonarlint
/.idea/inspectionProfiles
.idea/inspectionProfiles
.idea/*
/tools
/.idea
.idea
.iml
/example-datasets
/example-datasets/*
